@{
    ViewBag.Title = "about us";
    Layout = "_Layout";
}
    
    @*body*@
    <center>
        <div class="mt-4 p-3">
            <h1>hello from aboutus page</h1>
        </div>
    </center>
    @*body*@

