
@{
    ViewData["Title"] = "contactus";
    Layout = "~/Views/shared/_Layout.cshtml";
}

@*body*@
<center>
    <div class="mt-4 p-3">
        <h1>hello from Contact us page</h1>
    </div>
</center>
@*body*@

