
@{
    ViewBag.Title = "Index";
    Layout = "_Layout";
}

 

    @*body*@
    <center>
        <div class="mt-4 p-3">
          <h1>hello from index page</h1>
        </div>
    </center>
    @*body*@

